<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body class="main">
		<h1 class="title">Index of /CS1003</h1>
		<div class="main-grid">
			<div class="main-grid-header-row">
				<a class="main-grid-header-row-item" href="/">Name</a>
				<a class="main-grid-header-row-item" href="/">Last modified</a>
				<a class="main-grid-header-row-item" href="/">Size</a>
			</div>
			<hr/>
			<a class="main-grid-item-row" href="/" tabindex="1">
				<div class="name">🔙 Parent directory</div>
				<div class="last-modified"></div>
				<div class="size"></div>
			</a>
			<a class="main-grid-item-row" href="/" tabindex="2">
				<div class="name">📁 0-General</div>
				<div class="last-modified">2 days ago</div>
				<div class="size">-</div>
			</a>
			<a class="main-grid-item-row" href="/" tabindex="3">
				<div class="name">📁 0-General</div>
				<div class="last-modified">2 days ago</div>
				<div class="size">-</div>
			</a>
		</div>
	</body>
</html>
